@font-face {
    font-family: 'Museo Sans Cyrl';
    font-display: swap;
    src: local("MuseoSansCyrl-500"), url("../fonts/MuseoSansCyrl-500.woff") format("woff");
    font-weight: 500;
    font-style: normal; }

@font-face {
    font-family: 'Museo Sans Cyrl';
    font-display: swap;
    src: local("MuseoSansCyrl-300Italic"), url("../fonts/MuseoSansCyrl-300Italic.woff") format("woff");
    font-weight: 300;
    font-style: italic; }

@font-face {
    font-family: 'Museo Sans Cyrl';
    font-display: swap;
    src: local("MuseoSansCyrl-500Italic"), url("../fonts/MuseoSansCyrl-500Italic.woff") format("woff");
    font-weight: 500;
    font-style: italic; }

@font-face {
    font-family: 'Museo Sans Cyrl';
    font-display: swap;
    src: local("MuseoSansCyrl-900"), url("../fonts/MuseoSansCyrl-900.woff") format("woff");
    font-weight: 900;
    font-style: normal; }

@font-face {
    font-family: 'Museo Sans Cyrl';
    font-display: swap;
    src: local("MuseoSansCyrl-700"), url("../fonts/MuseoSansCyrl-700.woff") format("woff");
    font-weight: 700;
    font-style: normal; }

@font-face {
    font-family: 'Museo Sans Cyrl';
    font-display: swap;
    src: local("MuseoSansCyrl-700Italic"), url("../fonts/MuseoSansCyrl-700Italic.woff") format("woff");
    font-weight: 700;
    font-style: italic; }

@font-face {
    font-family: 'Museo Sans Cyrl';
    font-display: swap;
    src: local("MuseoSansCyrl-300"), url("../fonts/MuseoSansCyrl-300.woff") format("woff");
    font-weight: 300;
    font-style: normal; }

@font-face {
    font-family: 'Museo Sans Cyrl';
    font-display: swap;
    src: local("MuseoSansCyrl-100"), url("../fonts/MuseoSansCyrl-100.woff") format("woff");
    font-weight: 300;
    font-style: normal; }

@font-face {
    font-family: 'Museo Sans Cyrl';
    font-display: swap;
    src: local("MuseoSansCyrl-100Italic"), url("../fonts/MuseoSansCyrl-100Italic.woff") format("woff");
    font-weight: 100;
    font-style: italic; }

@font-face {
    font-family: 'Museo Sans Cyrl';
    font-display: swap;
    src: local("Museo Sans Cyrl 900 Italic"), local("MuseoSansCyrl-900Italic"), url("../fonts/MuseoSansCyrl-900Italic.woff") format("woff");
    font-weight: 900;
    font-style: italic; }

@font-face {
    font-family: 'BebasNeue';
    font-display: swap;
    src: url("../fonts/BebasNeue Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal; }

@font-face {
    font-family: 'als_rublregular';
    font-display: swap;
    src: url("../fonts/alsrubl.woff") format("woff");
    font-weight: normal;
    font-style: normal; }

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.container:after, .header:after, .top-line:after, .top-info__holder:after, .mass-media__header:after, .small-form:after, .keywords-search__row:after, .callback-form__row:after, .help-form__row:after, .case-item dl:after, .star-rating__wrap:after {
    content: " ";
    display: block;
    clear: both; }

.rating-info__popup-list, .mass-media__tabs, .offices-list, .zones-list, .main-office__tabs, .tick-list, .guarantee-list, .payment-guarantee-list, .risks__questions-list, .risks__content-frame .tab-content > ul,
.risks__content-frame > ul, .risks-accordion, .price-item__list, .category-list, .info-list, .bulleted-list, .how-it-works__tabs, .steps-list, .top-nav, .first-level, .drop-list, .sort-box__list, .bulleted-list-yellow, .mobile-nav, .mobile-nav-first__list, .main-nav-tabs, .numbered-list, .bulleted-list-hole, .download-link, .social-list, .chat-list, .cases-list, .case-item__images, .social-links, .specialization-list, .company-copy-info, .star-list, .share-box__list, .tags-list, .blog-section__sort-list {
    margin: 0;
    padding: 0;
    list-style: none; }

body {
    margin: 0;
    font-family: "Museo Sans Cyrl", "Helvetica Neue", Arial, sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: none;
    height: 100%;
    -webkit-font-smoothing: antialiased; }

a {
    text-decoration: none;
    color: #444444;
/*    outline: none; */
}
a:hover {
    text-decoration: none;
    color: #444444; }

input,
textarea,
select,
button {
    color: #444444;
    vertical-align: middle;
    outline: none; }

form,
fieldset {
    margin: 0;
    padding: 0;
    border-style: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    /*cursor: pointer;*/
    *overflow: visible;
    outline: none; }

input[type="submit"]:hover,
button:hover {
    cursor: pointer; }

textarea {
    overflow: auto;
    resize: vertical;
    vertical-align: top; }

input[type="checkbox"],
input[type="radio"] {
    padding: 0; }

input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2em;
    margin: 0 0 1.2em;
    color: #444; }

p {
    margin: 0 0 24px; }

q {
    quotes: none; }
q:before, q:after {
    content: '';
    content: none; }

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline; }

sup {
    top: -0.5em; }

sub {
    bottom: -0.25em; }

table {
    border-collapse: collapse;
    border-spacing: 0; }

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none; }

/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
    margin-top: 10px;
    text-align: center;
    -webkit-tap-highlight-color: transparent; }
.owl-theme .owl-nav [class*='owl-'] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px; }
.owl-theme .owl-nav [class*='owl-']:hover {
    background: #869791;
    color: #FFF;
    text-decoration: none; }
.owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 10px; }

.owl-theme .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent; }
.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline; }
.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    border-radius: 30px; }
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #869791; }

/*
 *  Owl Carousel - Core
 */
.owl-carousel {
    display: none;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    /* position relative and z-index fix webkit rendering fonts issue */
    position: relative;
    z-index: 1; }
.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    -moz-backface-visibility: hidden;
    /* fix firefox animation glitch */ }
.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px); }
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0); }
.owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; }
.owl-carousel .owl-item img {
    display: block;
    width: 100%; }
.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
    display: none; }
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
.owl-carousel.owl-loaded {
    display: block; }
.owl-carousel.owl-loading {
    opacity: 0;
    display: block; }
.owl-carousel.owl-hidden {
    opacity: 0; }
.owl-carousel.owl-refresh .owl-item {
    visibility: hidden; }
.owl-carousel.owl-drag .owl-item {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
.owl-carousel.owl-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab; }
.owl-carousel.owl-rtl {
    direction: rtl; }
.owl-carousel.owl-rtl .owl-item {
    float: right; }

/* No Js */
.no-js .owl-carousel {
    display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
    -webkit-animation-duration: 1000ms;
    animation-duration: 1000ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
    z-index: 0; }

.owl-carousel .owl-animated-out {
    z-index: 1; }

.owl-carousel .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut; }

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1; }
    100% {
        opacity: 0; } }

@keyframes fadeOut {
    0% {
        opacity: 1; }
    100% {
        opacity: 0; } }

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
    -webkit-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item {
    /**
              This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
              calculation of the height of the owl-item that breaks page layouts
           */ }
.owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    -webkit-transition: opacity 400ms ease;
    transition: opacity 400ms ease; }
.owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {
    max-height: 0; }
.owl-carousel .owl-item img.owl-lazy {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d; }

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
    position: relative;
    height: 100%;
    background: #000; }

.owl-carousel .owl-video-play-icon {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    background: url("owl.video.play.png") no-repeat;
    cursor: pointer;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -webkit-transition: -webkit-transform 100ms ease;
    transition: -webkit-transform 100ms ease;
    transition: transform 100ms ease;
    transition: transform 100ms ease, -webkit-transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
    -webkit-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
    display: none; }

.owl-carousel .owl-video-tn {
    opacity: 0;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-transition: opacity 400ms ease;
    transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%; }

.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- {
    color: #dedede; }
.datepicker--cell-day.-other-month-:hover, .datepicker--cell-year.-other-decade-:hover {
    color: #c5c4c4; }
.-disabled-.-focus-.datepicker--cell-day.-other-month-, .-disabled-.-focus-.datepicker--cell-year.-other-decade- {
    color: #dedede; }
.-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
    color: #fff;
    background: #a2ddf6; }
.-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- {
    background: #8ad5f4; }
.-in-range-.datepicker--cell-day.-other-month-, .-in-range-.datepicker--cell-year.-other-decade- {
    background-color: rgba(92, 196, 239, 0.1);
    color: #cccccc; }
.-in-range-.-focus-.datepicker--cell-day.-other-month-, .-in-range-.-focus-.datepicker--cell-year.-other-decade- {
    background-color: rgba(92, 196, 239, 0.2); }
.datepicker--cell-day.-other-month-:empty, .datepicker--cell-year.-other-decade-:empty {
    background: none;
    border: none; }

/* -------------------------------------------------
    Datepicker cells
   ------------------------------------------------- */
.datepicker--cells {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

.datepicker--cell {
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 32px;
    z-index: 1; }
.datepicker--cell.-focus- {
    background: #f0f0f0; }
.datepicker--cell.-current- {
    color: #4EB5E6; }
.datepicker--cell.-current-.-focus- {
    color: #4a4a4a; }
.datepicker--cell.-current-.-in-range- {
    color: #4EB5E6; }
.datepicker--cell.-in-range- {
    background: rgba(92, 196, 239, 0.1);
    color: #4a4a4a;
    border-radius: 0; }
.datepicker--cell.-in-range-.-focus- {
    background-color: rgba(92, 196, 239, 0.2); }
.datepicker--cell.-disabled- {
    cursor: default;
    color: #aeaeae; }
.datepicker--cell.-disabled-.-focus- {
    color: #aeaeae; }
.datepicker--cell.-disabled-.-in-range- {
    color: #a1a1a1; }
.datepicker--cell.-disabled-.-current-.-focus- {
    color: #aeaeae; }
.datepicker--cell.-range-from- {
    border: 1px solid rgba(92, 196, 239, 0.5);
    background-color: rgba(92, 196, 239, 0.1);
    border-radius: 4px 0 0 4px; }
.datepicker--cell.-range-to- {
    border: 1px solid rgba(92, 196, 239, 0.5);
    background-color: rgba(92, 196, 239, 0.1);
    border-radius: 0 4px 4px 0; }
.datepicker--cell.-range-from-.-range-to- {
    border-radius: 4px; }
.datepicker--cell.-selected- {
    color: #fff;
    border: none;
    background: #5cc4ef; }
.datepicker--cell.-selected-.-current- {
    color: #fff;
    background: #5cc4ef; }
.datepicker--cell.-selected-.-focus- {
    background: #45bced; }
.datepicker--cell:empty {
    cursor: default; }

.datepicker--days-names {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 8px 0 3px; }

.datepicker--day-name {
    color: #FF9A19;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    text-transform: uppercase;
    font-size: .8em; }

.datepicker--cell-day {
    width: 14.2857142857%; }

.datepicker--cells-months {
    height: 170px; }

.datepicker--cell-month {
    width: 33.33%;
    height: 25%; }

.datepicker--years {
    height: 170px; }

.datepicker--cells-years {
    height: 170px; }

.datepicker--cell-year {
    width: 25%;
    height: 33.33%; }

.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- {
    color: #dedede; }
.datepicker--cell-day.-other-month-:hover, .datepicker--cell-year.-other-decade-:hover {
    color: #c5c4c4; }
.-disabled-.-focus-.datepicker--cell-day.-other-month-, .-disabled-.-focus-.datepicker--cell-year.-other-decade- {
    color: #dedede; }
.-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
    color: #fff;
    background: #a2ddf6; }
.-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- {
    background: #8ad5f4; }
.-in-range-.datepicker--cell-day.-other-month-, .-in-range-.datepicker--cell-year.-other-decade- {
    background-color: rgba(92, 196, 239, 0.1);
    color: #cccccc; }
.-in-range-.-focus-.datepicker--cell-day.-other-month-, .-in-range-.-focus-.datepicker--cell-year.-other-decade- {
    background-color: rgba(92, 196, 239, 0.2); }
.datepicker--cell-day.-other-month-:empty, .datepicker--cell-year.-other-decade-:empty {
    background: none;
    border: none; }

/* -------------------------------------------------
    Datepicker
   ------------------------------------------------- */
.datepickers-container {
    position: absolute;
    left: 0;
    top: 0; }
@media print {
    .datepickers-container {
        display: none; } }

.datepicker {
    background: #fff;
    border: 1px solid #dbdbdb;
    -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    font-family: Tahoma, sans-serif;
    font-size: 14px;
    color: #4a4a4a;
    width: 250px;
    position: absolute;
    left: -100000px;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease, left 0s 0.3s, -webkit-transform 0.3s ease;
    transition: opacity 0.3s ease, left 0s 0.3s, -webkit-transform 0.3s ease;
    transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0.3s;
    transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0.3s, -webkit-transform 0.3s ease;
    z-index: 100; }
.datepicker.-from-top- {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); }
.datepicker.-from-right- {
    -webkit-transform: translateX(8px);
    transform: translateX(8px); }
.datepicker.-from-bottom- {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }
.datepicker.-from-left- {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px); }
.datepicker.active {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
    -webkit-transition: opacity 0.3s ease, left 0s 0s, -webkit-transform 0.3s ease;
    transition: opacity 0.3s ease, left 0s 0s, -webkit-transform 0.3s ease;
    transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0s;
    transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0s, -webkit-transform 0.3s ease; }

.datepicker-inline .datepicker {
    border-color: #d7d7d7;
    -webkit-box-shadow: none;
    box-shadow: none;
    position: static;
    left: auto;
    right: auto;
    opacity: 1;
    -webkit-transform: none;
    transform: none; }

.datepicker-inline .datepicker--pointer {
    display: none; }

.datepicker--content {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    padding: 4px; }
.-only-timepicker- .datepicker--content {
    display: none; }

.datepicker--pointer {
    position: absolute;
    background: #fff;
    border-top: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    width: 10px;
    height: 10px;
    z-index: -1; }
.-top-left- .datepicker--pointer, .-top-center- .datepicker--pointer, .-top-right- .datepicker--pointer {
    top: calc(100% - 4px);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg); }
.-right-top- .datepicker--pointer, .-right-center- .datepicker--pointer, .-right-bottom- .datepicker--pointer {
    right: calc(100% - 4px);
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg); }
.-bottom-left- .datepicker--pointer, .-bottom-center- .datepicker--pointer, .-bottom-right- .datepicker--pointer {
    bottom: calc(100% - 4px);
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg); }
.-left-top- .datepicker--pointer, .-left-center- .datepicker--pointer, .-left-bottom- .datepicker--pointer {
    left: calc(100% - 4px);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
.-top-left- .datepicker--pointer, .-bottom-left- .datepicker--pointer {
    left: 10px; }
.-top-right- .datepicker--pointer, .-bottom-right- .datepicker--pointer {
    right: 10px; }
.-top-center- .datepicker--pointer, .-bottom-center- .datepicker--pointer {
    left: calc(50% - 10px / 2); }
.-left-top- .datepicker--pointer, .-right-top- .datepicker--pointer {
    top: 10px; }
.-left-bottom- .datepicker--pointer, .-right-bottom- .datepicker--pointer {
    bottom: 10px; }
.-left-center- .datepicker--pointer, .-right-center- .datepicker--pointer {
    top: calc(50% - 10px / 2); }

.datepicker--body {
    display: none; }
.datepicker--body.active {
    display: block; }

.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- {
    color: #dedede; }
.datepicker--cell-day.-other-month-:hover, .datepicker--cell-year.-other-decade-:hover {
    color: #c5c4c4; }
.-disabled-.-focus-.datepicker--cell-day.-other-month-, .-disabled-.-focus-.datepicker--cell-year.-other-decade- {
    color: #dedede; }
.-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
    color: #fff;
    background: #a2ddf6; }
.-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- {
    background: #8ad5f4; }
.-in-range-.datepicker--cell-day.-other-month-, .-in-range-.datepicker--cell-year.-other-decade- {
    background-color: rgba(92, 196, 239, 0.1);
    color: #cccccc; }
.-in-range-.-focus-.datepicker--cell-day.-other-month-, .-in-range-.-focus-.datepicker--cell-year.-other-decade- {
    background-color: rgba(92, 196, 239, 0.2); }
.datepicker--cell-day.-other-month-:empty, .datepicker--cell-year.-other-decade-:empty {
    background: none;
    border: none; }

/* -------------------------------------------------
    Navigation
   ------------------------------------------------- */
.datepicker--nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid #efefef;
    min-height: 32px;
    padding: 4px; }
.-only-timepicker- .datepicker--nav {
    display: none; }

.datepicker--nav-title,
.datepicker--nav-action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

.datepicker--nav-action {
    width: 32px;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
.datepicker--nav-action:hover {
    background: #f0f0f0; }
.datepicker--nav-action.-disabled- {
    visibility: hidden; }
.datepicker--nav-action svg {
    width: 32px;
    height: 32px; }
.datepicker--nav-action path {
    fill: none;
    stroke: #9c9c9c;
    stroke-width: 2px; }

.datepicker--nav-title {
    border-radius: 4px;
    padding: 0 8px; }
.datepicker--nav-title i {
    font-style: normal;
    color: #9c9c9c;
    margin-left: 5px; }
.datepicker--nav-title:hover {
    background: #f0f0f0; }
.datepicker--nav-title.-disabled- {
    cursor: default;
    background: none; }

.datepicker--buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 4px;
    border-top: 1px solid #efefef; }

.datepicker--button {
    color: #4EB5E6;
    cursor: pointer;
    border-radius: 4px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 32px; }
.datepicker--button:hover {
    color: #4a4a4a;
    background: #f0f0f0; }

.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- {
    color: #dedede; }
.datepicker--cell-day.-other-month-:hover, .datepicker--cell-year.-other-decade-:hover {
    color: #c5c4c4; }
.-disabled-.-focus-.datepicker--cell-day.-other-month-, .-disabled-.-focus-.datepicker--cell-year.-other-decade- {
    color: #dedede; }
.-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
    color: #fff;
    background: #a2ddf6; }
.-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- {
    background: #8ad5f4; }
.-in-range-.datepicker--cell-day.-other-month-, .-in-range-.datepicker--cell-year.-other-decade- {
    background-color: rgba(92, 196, 239, 0.1);
    color: #cccccc; }
.-in-range-.-focus-.datepicker--cell-day.-other-month-, .-in-range-.-focus-.datepicker--cell-year.-other-decade- {
    background-color: rgba(92, 196, 239, 0.2); }
.datepicker--cell-day.-other-month-:empty, .datepicker--cell-year.-other-decade-:empty {
    background: none;
    border: none; }

/* -------------------------------------------------
    Timepicker
   ------------------------------------------------- */
.datepicker--time {
    border-top: 1px solid #efefef;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 4px;
    position: relative; }
.datepicker--time.-am-pm- .datepicker--time-sliders {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 138px;
    flex: 0 1 138px;
    max-width: 138px; }
.-only-timepicker- .datepicker--time {
    border-top: none; }

.datepicker--time-sliders {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 153px;
    flex: 0 1 153px;
    margin-right: 10px;
    max-width: 153px; }

.datepicker--time-label {
    display: none;
    font-size: 12px; }

.datepicker--time-current {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 14px;
    text-align: center;
    margin: 0 0 0 10px; }

.datepicker--time-current-colon {
    margin: 0 2px 3px;
    line-height: 1; }

.datepicker--time-current-hours,
.datepicker--time-current-minutes {
    line-height: 1;
    font-size: 19px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    position: relative;
    z-index: 1; }
.datepicker--time-current-hours:after,
.datepicker--time-current-minutes:after {
    content: '';
    background: #f0f0f0;
    border-radius: 4px;
    position: absolute;
    left: -2px;
    top: -3px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    opacity: 0; }
.datepicker--time-current-hours.-focus-:after,
.datepicker--time-current-minutes.-focus-:after {
    opacity: 1; }

.datepicker--time-current-ampm {
    text-transform: uppercase;
    -ms-flex-item-align: end;
    align-self: flex-end;
    color: #9c9c9c;
    margin-left: 6px;
    font-size: 11px;
    margin-bottom: 1px; }

.datepicker--time-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 11px;
    height: 17px;
    background: -webkit-gradient(linear, left top, right top, from(#dedede), to(#dedede)) left 50%/100% 1px no-repeat;
    background: linear-gradient(to right, #dedede, #dedede) left 50%/100% 1px no-repeat; }
.datepicker--time-row:first-child {
    margin-bottom: 4px; }
.datepicker--time-row input[type='range'] {
    background: none;
    cursor: pointer;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 100%;
    padding: 0;
    margin: 0;
    -webkit-appearance: none; }
.datepicker--time-row input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none; }
.datepicker--time-row input[type='range']::-ms-tooltip {
    display: none; }
.datepicker--time-row input[type='range']:hover::-webkit-slider-thumb {
    border-color: #b8b8b8; }
.datepicker--time-row input[type='range']:hover::-moz-range-thumb {
    border-color: #b8b8b8; }
.datepicker--time-row input[type='range']:hover::-ms-thumb {
    border-color: #b8b8b8; }
.datepicker--time-row input[type='range']:focus {
    outline: none; }
.datepicker--time-row input[type='range']:focus::-webkit-slider-thumb {
    background: #5cc4ef;
    border-color: #5cc4ef; }
.datepicker--time-row input[type='range']:focus::-moz-range-thumb {
    background: #5cc4ef;
    border-color: #5cc4ef; }
.datepicker--time-row input[type='range']:focus::-ms-thumb {
    background: #5cc4ef;
    border-color: #5cc4ef; }
.datepicker--time-row input[type='range']::-webkit-slider-thumb {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 12px;
    width: 12px;
    border-radius: 3px;
    border: 1px solid #dedede;
    background: #fff;
    cursor: pointer;
    -webkit-transition: background .2s;
    transition: background .2s; }
.datepicker--time-row input[type='range']::-moz-range-thumb {
    box-sizing: border-box;
    height: 12px;
    width: 12px;
    border-radius: 3px;
    border: 1px solid #dedede;
    background: #fff;
    cursor: pointer;
    -webkit-transition: background .2s;
    transition: background .2s; }
.datepicker--time-row input[type='range']::-ms-thumb {
    box-sizing: border-box;
    height: 12px;
    width: 12px;
    border-radius: 3px;
    border: 1px solid #dedede;
    background: #fff;
    cursor: pointer;
    -webkit-transition: background .2s;
    transition: background .2s; }
.datepicker--time-row input[type='range']::-webkit-slider-thumb {
    margin-top: -6px; }
.datepicker--time-row input[type='range']::-webkit-slider-runnable-track {
    border: none;
    height: 1px;
    cursor: pointer;
    color: transparent;
    background: transparent; }
.datepicker--time-row input[type='range']::-moz-range-track {
    border: none;
    height: 1px;
    cursor: pointer;
    color: transparent;
    background: transparent; }
.datepicker--time-row input[type='range']::-ms-track {
    border: none;
    height: 1px;
    cursor: pointer;
    color: transparent;
    background: transparent; }
.datepicker--time-row input[type='range']::-ms-fill-lower {
    background: transparent; }
.datepicker--time-row input[type='range']::-ms-fill-upper {
    background: transparent; }
.datepicker--time-row span {
    padding: 0 12px; }

.datepicker--time-icon {
    color: #9c9c9c;
    border: 1px solid;
    border-radius: 50%;
    font-size: 16px;
    position: relative;
    margin: 0 5px -1px 0;
    width: 1em;
    height: 1em; }
.datepicker--time-icon:after, .datepicker--time-icon:before {
    content: '';
    background: currentColor;
    position: absolute; }
.datepicker--time-icon:after {
    height: .4em;
    width: 1px;
    left: calc(50% - 1px);
    top: calc(50% + 1px);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }
.datepicker--time-icon:before {
    width: .4em;
    height: 1px;
    top: calc(50% + 1px);
    left: calc(50% - 1px); }
