@font-face {
	font-family: 'Littera Plain';
	src: url('../fonts/LitteraPlain/LitteraPlainLight.eot');
	src: local('Littera Plain Light'), local('LitteraPlainLight'),
	url('../fonts/LitteraPlain/LitteraPlainLight.eot?#iefix') format('embedded-opentype'),
	url('../fonts/LitteraPlain/LitteraPlainLight.woff') format('woff'),
	url('../fonts/LitteraPlain/LitteraPlainLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Littera Plain';
	src: url('../fonts/LitteraPlain/LitteraPlainBold.eot');
	src: local('Littera Plain Bold'), local('LitteraPlainBold'),
	url('../fonts/LitteraPlain/LitteraPlainBold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/LitteraPlain/LitteraPlainBold.woff') format('woff'),
	url('../fonts/LitteraPlain/LitteraPlainBold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Littera Plain';
	src: url('../fonts/LitteraPlain/LitteraPlainRegular.eot');
	src: local('Littera Plain Regular'), local('LitteraPlainRegular'),
	url('../fonts/LitteraPlain/LitteraPlainRegular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/LitteraPlain/LitteraPlainRegular.woff') format('woff'),
	url('../fonts/LitteraPlain/LitteraPlainRegular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Littera Plain';
	src: url('../fonts/LitteraPlain/LitteraPlainMedium.eot');
	src: local('Littera Plain Medium'), local('LitteraPlainMedium'),
	url('../fonts/LitteraPlain/LitteraPlainMedium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/LitteraPlain/LitteraPlainMedium.woff') format('woff'),
	url('../fonts/LitteraPlain/LitteraPlainMedium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}


@font-face {
	font-family: 'Littera Plain Book';
	src: url('../fonts/LitteraPlain/LitteraPlainBook.eot');
	src: local('Littera Plain Book'), local('LitteraPlainBook'),
	url('../fonts/LitteraPlain/LitteraPlainBook.eot?#iefix') format('embedded-opentype'),
	url('../fonts/LitteraPlain/LitteraPlainBook.woff') format('woff'),
	url('../fonts/LitteraPlain/LitteraPlainBook.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
