
.top-info__holder {
	background-color: #F2F2F2;
}

.rating-info__score {
	color: #fff;
	background-color: #878787;
}


.c-top-navigation-bar__item:not(:last-child) {
	margin-right: 28px;
}

.mass-media {
	text-decoration: none;

	&__text {
		line-height: 17px;
		text-decoration: none;
		border-bottom: 1px dotted #7c7a73;

		&:hover {
			text-decoration: none;
			border-bottom-color: transparent;
		}
	}
}

.top-row {
	@include flexbox();
	@include align-items(center);
	@include justify-content(space-between);

	&__left {
		@include flexbox();
		@include align-items(center);
	}

	&__right {
		@include flexbox();
		@include align-items(center);
	}
}

.logo {
	font-size: 0;
	line-height: 0;
	margin: 0;
	padding: 0px 30px 0 0;


	a {
		display: block;
		width: 220px;
		margin: 0 auto;
	}

	@media (min-width: 768px) {
		padding: 0;
	}

	@media (min-width: 1024px) {
		padding: 0;

		a {
			width: 316px;
			margin-right: 20px;
		}
	}

	@media (min-width: 1200px) {

	}
}


.slogan {
	padding-top: 10px;
}


.btn-call {

	@media (max-width: 767px) {
		top: 20px;
		right: 15px;
		width: 50px;
		height: 50px;
		background: #ABA7A7 url("../images/update__header_phone.svg") 50% 50% no-repeat;
		@include border-radius(50%);
	}
}

.top-line {
	height: 88px;
	padding-top: 19px;
	padding-bottom: 19px;

	@media (max-width: 767px) {
		height: 90px;
		padding-top: 25px;
	}

	@media (max-width: 1024px) {
		height: 88px;
		padding: 28px 24px 28px 24px;
		margin: 0 -24px;
	}
}

.main-nav-opener,
.main-nav-opener-fixed {
	top: 38px;

	span {
		display: none;
	}
}

.top-info__tel {
	color: #444;
	font-size: 22px;
	font-weight: 600;
	line-height: 30px;
	text-decoration: none !important;

	&:hover {
		color: #444;
		text-decoration: none !important;
	}
}


.top-info__holder {

	@media (max-width: 767px) {
		padding: 25px 15px;
	}
}

.mobile-nav-drop {
	padding-top: 90px;
}

.top-nav-wrap {

	@media (min-width: 1024px) {
		padding-top: 10px;
	}
}

.offices-box__opener {
	color: #444;
	font-weight: 400;

	span {
		font-weight: 400;
	}
}

