.two {
	z-index: 8;
	position: relative;
	padding-bottom: 30px;
	background: linear-gradient(180deg, rgba(243, 243, 243, 0) 0%, #dddddd 5%, #dadada 63.54%, rgba(196, 196, 196, 0) 100%);

	&:before {
		top: -200px;
		left: 50%;
		z-index: 3;
		content: '';
		width: 1392px;
		height: 705px;
		display: none;
		margin-left: 200px;
		position: absolute;
		background: url("../images/one__bg_pattern.png") 50% -40px no-repeat;


	}

	&:after {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 2;
		content: '';
		display: block;
		position: absolute;
		background: url("../images/update__two_bg_bottom.svg") 50% 100% no-repeat;
		opacity: 0;
		visibility: hidden;
	}

	&__wrap {
		z-index: 10;
		padding-bottom: 15px;
		position: relative;

		&:after {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 2;
			content: '';
			display: block;
			position: absolute;
			background: url("../images/two_bottom_sm.svg") 50% 100% no-repeat;
			background-size: 100%;
		}
	}


	@media (min-width: $screen-md-min) {
		padding-bottom: 190px;

		&:after {
			opacity: 1;
			visibility: visible;
		}

		&__wrap {
			margin-bottom: 0;

			&:after {
				display: none;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		&:before {
			display: block;
		}
	}

	@media (min-width: 1920px) {

		&:after {
			background-size: 100% auto;
		}
	}
}

.toc {
	z-index: 15;
	padding-top: 50px;
	padding-bottom: 50px;
	//	max-width: 1130px;
	position: relative;

	&:before {
		height: 600px;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		content: '';
		display: block;
		margin-bottom: -160px;
		position: absolute;
		//		background: url("../images/service_nav_bg.png") 50% 100% no-repeat;
		background-size: 100%;
	}

	.container {
		z-index: 5;
		position: relative;
	}

	&__wrap {
		padding-left: 30px;
	}

	&__title {
		font-weight: 700;
		margin-bottom: 40px;
		position: relative;
		font-family: $font-family-head;

		&_sm {
			color: #000;
			font-size: 24px;
			line-height: 32px;
		}


		&_md {
			top: 175px;
			left: -120px;
			color: #CFCFCF;
			font-size: 28px;
			line-height: 53px;
			position: absolute;
			text-transform: uppercase;
			@include rotate(-90deg);
		}
	}

	&__nav {
		margin: 0;
		padding: 0;
		font-size: 20px;
		font-weight: 700;
		line-height: 1.4;
		list-style: none;


		> li {
			padding-left: 40px;
			margin-bottom: 20px;
			background: url('../images/update__angle_down_sm.svg') 0 8px no-repeat;

			a {
				color: #000;
				text-decoration: none;
				border-bottom: 2px dashed #BFC1CD;

				&:hover {
					color: #000;
					text-decoration: none;
					border-bottom-color: transparent;
				}
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	@media (min-width: $screen-md-min) {
		padding-top: 70px;
		padding-left: 85px;
		margin-bottom: 90px;

		&__title {

		}

		&__nav {
			font-size: 25px;
			line-height: 40px;
			text-align: left;

			> li {
				margin-bottom: 35px;
				background: url('../images/update__icon_angle_down.svg') 0 12px no-repeat;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
	@media (min-width: $screen-lg-min) {

		&__title {

			&_sm {
				display: none;
			}

			&_md {
				top: 85px;
				left: -150px;
				font-size: 32px;
				line-height: 53px;
			}
		}

		&__nav {
			font-size: 35px;
			line-height: 45px;

			> li {
				background-position: 0 18px;
			}
		}
	}

	@media (min-width: $screen-xl-min) {
		margin-left: 135px;
	}
}

.content {
	color: #444;
	z-index: 10;
	font-size: 18px;
	line-height: 170%;
	margin: 0 auto;
	position: relative;
	padding-top: 70px;
	font-family: $font-family-base;

	.container {
		z-index: 20;
		position: relative;
	}


	&__wrap {
		z-index: 10;
		margin: 0 auto;
		position: relative;
		padding-left: 30px;
		max-width: 1110px;
	}

	&__section {
		margin-bottom: 120px;
		position: relative;

		&:before {
			left: 0;
			right: 0;
			z-index: 1;
			content: '';
			height: 700px;
			bottom: 100%;
			position: absolute;
			margin-bottom: -130px;
			background: url("../images/../images/section__bg_sm.png") 50% 100% no-repeat;
			background-size: 100% 100%;
		}

	}

	&__heading {
		padding: 0;
		color: #000;
		font-size: 28px;
		font-weight: 700;
		line-height: 32px;
		margin: 0 0 30px 0;
		font-family: $font-family-head;
	}

	&__close {
		display: none;
		text-align: center;
		position: relative;
		margin-bottom: 70px;

		&_wrap {
			padding: 33px 25px;
			background: rgba(191,193,205,0.1);
		}

		&_text {
			color: #444;
			font-size: 30px;
			font-weight: 700;
			line-height: 38px;
			margin-bottom: 30px;
		}

		&_button {
			color: #fff;
			border: none;
			outline: none;
			cursor: pointer;
			font-weight: 700;
			font-size: 24px;
			line-height: 30px;
			user-select: none;
			position: relative;
			text-align: center;
			white-space: nowrap;
			background: #E34F4F;
			text-decoration: none;
			display: inline-block;
			vertical-align: middle;
			text-transform: uppercase;
			padding: 15px 80px 15px 40px;
			font-family: $font-family-head;
			@include border-radius(3px);
			@include transition(.3s);

			&:before {
				top: 50%;
				right: 30px;
				content: '';
				width: 32px;
				height: 19px;
				font-size: 0;
				line-height: 0;
				margin-top: -10px;
				position: absolute;
				display: inline-block;
				background: url("../images/update__icon_angle_up.svg") 50% 50% no-repeat;
			}

			&:hover {
				color: #fff;
				background: #e32519;
				@include transition(.3s);
			}

			&:active {
				background: #E34F4F;
			}

			&:focus,
			&.focus {
				outline: 0;
			}
		}
	}

	&__lead {
		display: none;
		font-size: 24px;
		line-height: 1.3;
		font-weight: 700;
		text-align: center;
		padding: 35px 0;
		position: relative;
		margin-bottom: 50px;
		font-family: $font-family-head;

		&:after,
		&:before {
			left: 50%;
			z-index: 10;
			content: '';
			height: 2px;
			width: 160px;
			background: #444;
			position: absolute;
			margin-left: -80px;
		}

		&:after {
			top: 0;
		}

		&:before {
			bottom: 0;
		}

		&_border {
			padding: 70px 0;

			&:after,
			&:before {
				left: 0;
				width: 100%;
				height: 17px;
				margin-left: 0;
				background: url("../images/update__lead__bg.svg") 0 0 repeat-x;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		&__section {
			margin-bottom: 70px;
		}

		&__lead {

			&:after,
			&:before {
				width: 300px;
				margin-left: -150px;
			}

			&_border {

				&:after,
				&:before {
					width: 100%;
					margin-left: 0;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {
		font-size: 20px;
		padding-top: 0;

		&__heading {
			font-size: 44px;
			line-height: 48px;

			span {
				border-bottom: 2px dashed rgba(191,203,205,0.4);
			}
		}

		&__lead {
			display: block;
			font-size: 36px;
		}


		&__section {
			padding-top: 50px;
			margin-bottom: 100px;

			&:before {
				height: 1500px;
				margin-bottom: -400px;
				background: url("../images/../images/section__bg.png") 50% 100% no-repeat;
				background-size: auto;
			}

			&:first-child {

				&:before {
					margin-bottom: -370px;
				}
			}
		}
	}


	@media (min-width: $screen-lg-min) {
		//	padding-left: 60px;

		&__heading {
			font-size: 60px;
			line-height: 64px;
		}

		&__section {
			margin-bottom: 90px;
		}

		&__blockqoute {
			border-left: none;
			padding: 25px 50px 30px 70px;
			background: transparent url("../images/update__blockquote.png") 0 100% no-repeat;
		}


		&__close {
			display: block;
			padding: 0 46px;

			&:after,
			&:before {
				top: 0;
				z-index: 1;
				content: '';
				width: 46px;
				height: 100%;
				display: block;
				position: absolute;
				background: url("../images/update__content__close.png") 0 100% no-repeat;
			}

			&:after {
				left: 0;
			}

			&:before {
				right: 0;
				@include rotate(180deg);
			}

			&_wrap {
				height: 142px;
				padding: 30px 35px;
				@include flexbox();
				@include align-items(center);
				@include justify-content(space-between);
			}

			&_text {
				margin: 0;
			}
		}
	}

	@media (min-width: $screen-xl-min) {
		font-size: 24px;

		&__lead {
			font-size: 40px;
		}

		&__close {

			&_text {
				margin: 0;
				font-size: 40px;
				line-height: 46px;
			}
		}
	}


	@media (min-width: $screen-xxl-min) {

		&__wrap {
			padding-left: 0;
		}

		&__close {
			margin-left: -90px;
			margin-right: -85px;

			&_text {
				margin: 0;
				font-size: 50px;
				line-height: 56px;
			}
		}
	}
}

.sticky-nav {
	left: 0;
	right: 0;
	z-index: 900;
	top: 70px;
	opacity: 0;
	visibility: hidden;
	position: fixed;
	@include transition(.3s);

	&.nav_visible {
		opacity: 1;
		visibility: visible;
		@include transition(.3s);
	}

	&__button {
		top: 0;
		left: 0;
		width: 36px;
		border: none;
		outline: none;
		display: block;
		position: absolute;
	}

	&__content {
		top: 0;
		left: 35px;
		font-size: 16px;
		font-weight: 700;
		line-height: 24px;
		right: 20px;
		height: calc(100vh - 120px);
		display: none;
		position: absolute;
		background: rgba(255,255,255,0.95);
		font-family: $font-family-head;
		@include box-shadow(0px 34px 74px rgba(0, 0, 0, 0.15));

		&_wrap {
			height: 100%;
			max-height: 100%;
			overflow-y: auto;
			padding: 20px 20px 20px 30px;
		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			> li {
				margin-bottom: 10px;

				a {
					color: #000;
					text-decoration: none;

					span {
						border-bottom: 2px dashed rgba(191,193,205,0.5);
					}

					&:hover {
						color: #000;
						text-decoration: none;

						span {
							border-bottom-color: transparent;
						}
					}
				}
			}
		}
	}

	&.nav_open {

		.sticky-nav__content {
			display: block;

		}
	}

	@media (min-width: $screen-md-min) {

		&__content {
			width: 600px;
			height: auto;
			font-size: 20px;
			line-height: 32px;
			max-height: 100vh;
			padding: 40px 0;
			background: transparent;
			@include box-shadow(none);


			&_top {
				top: 0;
				left: 0;
				right: 0;
				height: 40px;
				position: absolute;
				background: url("../images/nav__bg.png") 0 0 no-repeat;
				@include rotate(180deg);
			}

			&_bottom {
				left: 0;
				right: 0;
				bottom: 0;
				height: 40px;
				position: absolute;
				background: url("../images/nav__bg.png") 0 0 no-repeat;
			}

			&_wrap {
				background: rgba(255,255,255,0.95);
				padding: 0px 40px 0px 40px;
			}

			ul {

				li {
					padding-left: 40px;
					background: url('../images/update__icon_angle_down.svg') 0 10px no-repeat;
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		&__content {
			left: 80px;
		}
	}

	@media (min-width: $screen-xl-min) {
		top: 170px;
		left: 50%;
		margin-left: -600px;

		&__button {
			top: 0;

			&:after {
				opacity: 0.45;
			}

			span {
				opacity: 1;
				visibility: visible;
			}
		}
		&__content {
			top: -85px;
			left: 100px;
			width: 1000px;
			padding: 40px 0;
			overflow: hidden;
			background: transparent;
			@include box-shadow(none);

			&_wrap {
				z-index: 20;
				padding: 0 45px;
				position: relative;
				background: rgba(255,255,255,0.95);

				&:before {
					top: 0;
					z-index: 10;
					width: 45px;
					height: 100%;
					content: '';
					display: block;
					background: url("../images/update__sticky_nav_bg.png") 0 0 no-repeat;
				}
			}
		}
	}

	@media (min-width: $screen-xxl-min) {
		top: 80px;
		margin-left: -650px;

		&__button {
			width: 60px;
		}

		&__content {
			top: 0px;
		}
	}
}


.sticky-form {
	left: 0;
	width: 100%;
	z-index: 800;
	bottom: 90px;
	opacity: 0;
	visibility: hidden;
	position: fixed;
	@include transition(.3s);



	&__button {
		left: 0;
		bottom: 0;
		width: 36px;
		border: none;
		outline: none;
		display: block;
		position: absolute;
	}

	&__main {
		bottom: 0;
		left: 36px;
		display: none;
		max-width: 500px;
		width: calc(100% - 55px);
		position: absolute;
		padding: 20px 20px 20px 30px;
		background: rgba(255,255,255,0.95);
		@include box-shadow(0px 67.9196px 147.825px rgba(0, 0, 0, 0.15));

		.form_phone__input {
			@include box-shadow(0px 9.98818px 99.8818px rgba(0, 0, 0, 0.13));
		}
	}

	&__title {
		color: #444;
		font-size: 24px;
		font-weight: 700;
		line-height: 32px;
		margin-bottom: 20px;
		font-family: $font-family-head;
	}

	&__text {
		color: #444;
		font-size: 18px;
		font-weight: 500;
		line-height: 22px;
		margin-bottom: 20px;
	}

	.form_phone {
		max-width: 440px;
	}

	&.form_open {

		.sticky-form__button {

			&:before {
				@include rotate(-90deg);
				@include transition(.3s);
			}
		}

		.sticky-form__main {
			display: block;
		}
	}

	@media (min-width: $screen-md-min) {

		&__main {
			width: 600px;
			max-width: inherit;

			.form_phone__input {
				@include box-shadow(none);
			}
		}

		&__title {
			color: #000;
		}
	}

	@media (min-width: $screen-lg-min) {
		top: 450px;
		bottom: auto;

		&.nav_visible {
			opacity: 1;
			visibility: visible;
			@include transition(.3s);
		}

		&__button {
			top: 0;

			&:after {
				opacity: 0.45;
			}

			span {
				opacity: 1;
				visibility: visible;
			}
		}

		&__main {
			width: 750px;
			bottom: -145px;
		}
	}


	@media (min-width: $screen-xl-min) {
		left: 50%;
		margin-left: -600px;
		@include box-shadow(none);


		&__main {
			width: 1025px;
			height: 395px;
			left: 102px;
			padding-left: 92px;
			padding-top: 84px;
			position: absolute;
			background: transparent;
			@include box-shadow(none);

			&:before {
				top: -40px;
				left: -73px;
				z-index: 1;
				content: '';
				width: 1174px;
				height: 543px;
				display: block;
				position: absolute;
				background: url("../images/sidebar_form_bg.svg") 0 0 no-repeat;
			}

			&_wrap {
				z-index: 10;
				position: relative;
			}
		}

		&__title {
			font-size: 32px;
			line-height: 40px;
			margin-bottom: 20px;
		}

		&__text {
			margin-bottom: 50px;
		}
	}

	@media (min-width: $screen-xxl-min) {
		margin-left: -650px;

		&__button {
			width: 60px;
		}
	}
}

.content_blockqoute {
	margin-bottom: 40px;
	position: relative;
	padding: 25px 20px 30px 35px;

	&:after {
		top: 0;
		left: 0;
		bottom: 0;
		z-index: 1;
		content: '';
		width: 55px;
		display: block;
		position: absolute;
		background: url("../images/blockquote__left_sm.png") 0 100% no-repeat;
	}

	&:before {
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		left: 55px;
		content: '';
		display: block;
		position: absolute;
		background: url("../images/blockquote__right_sm.png") 100% 0 no-repeat;
	}

	&__wrap {
		z-index: 2;
		position: relative;
	}
}

.content_warning {
	font-weight: 700;
	position: relative;
	margin-bottom: 40px;
	padding: 10px 0 10px 40px;

	&:before {
		top: 0;
		width: 4px;
		bottom: 0;
		left: 0;
		content: '';
		display: block;
		background: #444;
		position: absolute;
	}

	&_red {

		&:before {
			background: #E34F4F;
		}
	}

	@media (min-width: $screen-xxl-min) {
		margin-left: -100px;
		padding-left: 100px;
	}

}

.recall {
	position: relative;

	&__wrap {
		padding: 30px 15px 25px 15px;
		background: rgba(191,193,205,0.1);
		@include border-radius(5px);
	}

	&__info {
		color: #444444;
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;
		margin-bottom: 20px;
	}

	&__title {
		color: #444;
		font-size: 24px;
		font-weight: 700;
		line-height: 32px;
		margin-bottom: 5px;
		font-family: $font-family-head;
	}

	@media (min-width: $screen-md-min) {
		padding: 0 46px;

		&:after,
		&:before {
			top: 0;
			z-index: 1;
			content: '';
			width: 46px;
			height: 100%;
			display: block;
			position: absolute;
			background: url("../images/update__content__close.png") 0 100% no-repeat;
		}

		&:after {
			left: 0;
		}

		&:before {
			right: 0;
			@include rotate(180deg);
		}

		&__title {
			font-size: 44px;
			line-height: 50px;
		}
	}

	@media (min-width: $screen-xl-min) {

		&__wrap {
			padding: 40px 40px 30px 40px;
			@include flexbox();
		}

		&__info {
			margin: 0;
			padding-right: 80px;
			@include flex-grow(1);
		}

		&__content {
			width: 436px;
			@include flex-shrink(0);
		}

		&__title {
			font-size: 55px;
			line-height: 60px;
		}
	}
}
