.page {
	min-height: 100vh;
}

.list_inline {
	padding: 0;
	color: #000;
	list-style: none;
	font-weight: 500;
	line-height: 1.5;
	margin: 0 0 20px 0;
	font-family: $font-family-head;

	> li {
		margin-bottom: 20px;
		line-height: 140%;
		padding-left: 40px;
		position: relative;

		&:before {
			top: 1px;
			left: 0;
			content: '';
			width: 25px;
			height: 25px;
			font-size: 0;
			line-height: 0;
			position: absolute;
			display: inline-block;
			background: url("../images/icon__check_gray.svg") 0 0 no-repeat;
			background-size: 100%;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	@media (min-width: $screen-lg-min) {
		@include flexbox();
		@include justify-content(space-between);

		> li {
			margin-bottom: 0;
			background-position: 0 3px;
		}
	}
}


.form_md {
	margin: 0 auto;
	max-width: 310px;
	position: relative;

	&__wrap {
		padding: 30px 20px 80px 20px;
		background: url("../images/form_md__bg_sm.svg") 50% 100% no-repeat;
	//	background: rgba(191, 193, 205, 0.1);
	}

	&__title {
		color: #444;
		font-size: 24px;
		font-weight: 700;
		line-height: 32px;
		margin-bottom: 20px;
		font-family: $font-family-head;
	}

	&__text {
		color: #444;
		font-size: 18px;
		font-weight: 500;
		line-height: 22px;
		margin-bottom: 20px;
	}

	&__content {

	}

	.form_phone {
		max-width: 440px;
	}

	@media (min-width: $screen-md-min) {
		padding: 0 46px;
		max-width: inherit;

		&:after,
		&:before {
			top: 0;
			z-index: 1;
			content: '';
			width: 46px;
			height: 100%;
			display: block;
			position: absolute;
			background: url("../images/update__content__close.png") 0 100% no-repeat;
		}

		&:after {
			left: 0;
		}

		&:before {
			right: 0;
			@include rotate(180deg);
		}

		&__wrap {
			background: rgba(191, 193, 205, 0.1);
		}

		&__title {
			font-size: 32px;
			line-height: 36px;
		}

		&__text {
			margin-bottom: 50px;
		}

		&__content {

		}
	}


	@media (min-width: $screen-xl-min) {

		&__wrap {
			padding: 80px 40px 80px 40px;
		}

	}
}

.offer {
	color: #444;
	font-size: 18px;
	font-weight: 500;
	line-height: 26px;
	text-align: center;
	padding-top: 30px;
	padding-left: 40px;
	position: relative;
	padding-bottom: 100px;
	background: linear-gradient(180.03deg, rgba(255, 255, 255, 0) 10.34%, rgba(255, 255, 255, 0.88) 29.95%, #FFFFFF 51.43%, rgba(255, 255, 255, 0.33) 81.78%, rgba(255, 255, 255, 0) 99.98%);

	&:after {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		content: '';
		display: block;
		position: absolute;
		background: url("../images/offer__bg_ms.svg") 50% 100% no-repeat;
		background-size: 100%;
	}

	.container {
		z-index: 5;
		position: relative;
	}

	&__wrap {
		margin-left: -20px;
	}

	&__title {
		font-size: 24px;
		font-weight: 700;
		line-height: 1.215;
		margin-bottom: 30px;
	}

	&__text {
		max-width: 640px;
		margin: 0 auto 20px auto;
	}

	&__button {
		text-align: center;
		margin-bottom: 20px;
	}

	&__time {
		color: #444;
		font-size: 15px;
		font-weight: 400;
		line-height: 24px;
		padding-left: 25px;
		display: inline-block;
		background: url("../images/update__icon_time.svg") 0 50% no-repeat;
	}

	@media (min-width: $screen-md-min) {
		padding-top: 0;
		margin-bottom: 0;
		padding-bottom: 0;

		&:after {
			display: none;
		}

		&__title {
			font-size: 32px;
		}

		&__wrap {
			margin-left: 0;
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-left: 0;
		font-size: 16px;
		line-height: 24px;

		&__title {
			font-size: 40px;
		}
	}

	@media (min-width: $screen-xl-min) {

		&__title {
			max-width: 1200px;
			font-size: 51px;
			margin-left: auto;
			margin-right: auto;
		}
	}
}


.btn-hide {
	left: 0;
	bottom: 0;
	z-index: -1;
	font-size: 0;
	line-height: 0;
	width: 119px;
	display: block;
	position: fixed;
	opacity: 0;
	visibility: hidden;

	&.btn-hide_visible {
		opacity: 1;
		z-index: 800;
		visibility: visible;
	}

	@media (min-width: $screen-lg-min) {
		display: none;
	}
}

.btn-up {
	right: 0;
	bottom: 0;
	z-index: -1;
	font-size: 0;
	line-height: 0;
	width: 40px;
	display: block;
	position: fixed;
	opacity: 0;
	visibility: hidden;

	&.btn-up_visible {
		opacity: 1;
		z-index: 800;
		visibility: visible;
	}
}

.btn-chat {
	right: 60px;
	bottom: 0;
	z-index: -1;
	font-size: 0;
	line-height: 0;
	width: 40px;
	display: block;
	position: fixed;
	opacity: 0;
	visibility: hidden;

	&.btn-chat_visible {
		opacity: 1;
		z-index: 800;
		visibility: visible;
	}

	@media (min-width: $screen-lg-min) {
		display: none;
	}
}

.capture {
	right: 0;
	bottom: 0;
	z-index: 1300;
	color: #fff;
	width: 100%;
	display: none;
	padding: 20px 0;
	max-width: 340px;
	position: fixed;
	background: transparent;

	&:after,
	&:before {
		left: 0;
		z-index: 1;
		content: '';
		width: 100%;
		height: 20px;
		display: block;
		position: absolute;
		background: url("../images/capture__bg_blue.png") 0 0 no-repeat;
	}

	&_green {

		&:after,
		&:before {
			background-image: url("../images/capture__bg_green.png");
		}

		.capture__wrap {
			background: rgba(200,209,162,0.9);
		}
	}

	&__close {
		top: 10px;
		right: 10px;
		width: 20px;
		height: 20px;
		z-index: 100;
		font-size: 0;
		line-height: 0;
		cursor: pointer;
		position: absolute;
		display: inline-block;

		&:after,
		&:before {
			top: 50%;
			left: 50%;
			content: '';
			width: 22px;
			height: 4px;
			background: #fff;
			position: absolute;
			display: inline-block;
			margin: -2px 0 0 -11px;
		}


		&:after {
			@include rotate(45deg);
		}

		&:before {
			@include rotate(-45deg);
		}
	}

	&:after {
		top: 0;
	}

	&:before {
		bottom: 0;
		@include rotate(180deg);
	}

	&__wrap {
		padding: 10px 30px 0 30px;
		background: rgba(2,44,86,0.9);
	}

	&__image {
		overflow: hidden;
		margin-bottom: 15px;
		@include border-radius(6px);
	}

	&__title {
		font-size: 30px;
		font-weight: 700;
		line-height: 37px;
		margin-bottom: 5px;
		text-align: center;
	}

	&__subtitle {
		font-size: 18px;
		font-weight: 700;
		line-height: 24px;
		text-align: center;
		margin-bottom: 15px;
	}

	&__text {
		font-size: 14px;
		line-height: 170%;
		margin-bottom: 10px;

		img {
			vertical-align: middle;
		}
	}

	&__form {

		&_group {
			margin-bottom: 10px;
		}
	}

	.form_checkbox span {
		color: #fff;

		a {
			color: #fff;

			&:hover {
				color: #fff;
			}
		}
	}

	&_collapse {
		max-width: 380px;

		.capture__image {
			display: none;
		}

		.capture__form {
			padding: 8px;
			margin-bottom: 10px;
			background: #fff;
			position: relative;
			@include border-radius(3px);
			@include flexbox();
			@include align-items(center);
			@include box-shadow(0px 0px 20px 0px rgba(0, 0, 0, 0.13));

			.btn_base {
				width: auto;
				font-size: 13px;
				padding: 10px 20px;
				text-transform: uppercase;
			}

			.form_elem {
				height: 10px;
				border: none;
				padding: 10px 20px 10px 45px;
			}

			.capture__form_group {
				margin-bottom: 0;
			}
		}
	}
}

.form_elem {
	margin: 0;
	width: 100%;
	border: none;
	outline: none;
	height: 50px;
	color: #ABA7A7;
	display: block;
	font-size: 14px;
	line-height: 20px;
	vertical-align: middle;
	padding: 15px 20px 15px 20px;
	background: #fff;
	@include placeholder(#ABA7A7);
	@include flex-grow(1);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus,
	&:active {
		outline: none;
		@include placeholder(transparent);
	}

	&__phone {
		padding-left: 45px;
		background: #fff url("../images/update__icon_phone.svg") 18px 50% no-repeat;
	}
}

.btn_base {
	color: #fff;
	width: 100%;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
	user-select: none;
	padding: 15px 15px;
	position: relative;
	text-align: center;
	white-space: nowrap;
	background: #E34F4F;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	text-transform: uppercase;
	@include border-radius(3px);
	@include transition(.3s);
	@include flex-shrink(0);


	&:hover {
		color: #fff;
		background: #e32519;
		@include transition(.3s);
	}

	&:active {
		background: #E34F4F;
	}

	&:focus,
	&.focus {
		outline: 0;
	}
}

@media (min-width: $screen-sm-min) {

}

@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}

@media (min-width: $screen-xl-min) {

}

