.one {
	z-index: 9;
	overflow: hidden;
	padding-top: 30px;
	position: relative;
	padding-bottom: 135px;
	font-family: $font-family-base;

	&:before {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		content: '';
		position: absolute;
		background: url("../images/one__bg_sm.png") 50% 100% no-repeat;
		background-size: 100% auto;
	}

	&:after {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		content: "";
		position: absolute;
		background: url("../images/update__one_bg.svg") 50% 100% no-repeat;

		opacity: 0;
		visibility: hidden;
	}

	&__wrapper {
		z-index: 50;
		position: relative;
	}

	&__title {
		padding: 0;
		color: #000;
		max-width: 300px;
		font-size: 28px;
		font-weight: 700;
		line-height: 36px;
		text-align: center;
		margin: 0 auto 10px auto;
		font-family: $font-family-head;
	}

	&__subtitle {
		color: #7D7D7D;
		font-size: 22px;
		font-weight: 700;
		line-height: 28px;
		text-align: center;
		margin: 0 auto 30px auto;
		font-family: $font-family-head;
	}

	&__section {
		padding: 0 15px;
		margin: 0 -15px;
		position: relative;

		&:before {
			top: 0;
			left: 0;
			right: 0;
			bottom: -120px;
			z-index: 1;
			content: '';
			position: absolute;
			background: url("../images/one__bg_sm_elem.png") 50% 100% no-repeat;
		}

		&_wrap {
			z-index: 10;
			position: relative;
		}
	}



	@media (min-width: $screen-sm-min) {

		&__section {

			&:before {
				margin-bottom: -70px;
				background-size: 100% auto;
			}
		}
	}

	@media (min-width: $screen-md-min) {
		padding-top: 70px;
		padding-bottom: 185px;

		&:before {
			left: 0;
			right: 0;
			background: url("../images/one__bg_image.png") 50% 55px no-repeat;
		}


		&:after {
			opacity: 1;
			visibility: visible;
		}

		&__title {
			font-size: 60px;
			line-height: 64px;
			max-width: inherit;
			margin-bottom: 40px;

			span {
				border-bottom: 2px dashed rgba(191,203,205,0.3);
			}
		}

		&__subtitle {
			font-size: 37px;
			max-width: 800px;
			line-height: 45px;

			span {
				border-bottom: 2px dashed rgba(191,203,205,0.3);
			}
		}

		&__section {

			&:before {
				display: none;
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-bottom: 130px;

		&:after {
			opacity: 1;
			bottom: 140px;
			visibility: visible;
		}

		&__subtitle {
			margin-bottom: 70px;
		}
	}

	@media (min-width: $screen-xl-min) {

		&:after {
			opacity: 1;
			visibility: visible;
		}

		&__section {

		}
	}

	@media (min-width: 1900px) {

		&:after {
			background-size: 100% auto;
		}

		&:before {
			background-size: 100% auto;
		}
	}
}


.consultation {
	padding: 40px 30px;
	position: relative;
	background: #F2F2F2;
	margin: 0 -15px;
	font-family: $font-family-head;
	@include box-shadow(0px 34px 70px rgba(0, 0, 0, 0.09));

	&__wrap {
		z-index: 10;
		margin: 0 auto;
		max-width: 400px;
		position: relative;
	}

	&__heading {
		color: #414850;
		font-size: 22px;
		font-weight: 700;
		line-height: 24px;
		margin-bottom: 20px;
		text-align: center;

		> span {
			z-index: 1;
			position: relative;

			&:before {
				left: 0;
				right: 0;
				bottom: 5px;
				z-index: 1;
				content: '';
				height: 6px;
				opacity: 0.5;
				position: absolute;
				background: #E34F4F;
				display: inline-block;
			}

			> span {
				z-index: 10;
				position: relative;
			}
		}
	}

	&__row {
		margin-bottom: 20px;
	}

	&__form {
		display: block;
		background: #fff;
		margin-bottom: 20px;
		padding: 5px 10px 0 10px;
		border: 1px solid #E4DFC8;
		@include border-radius(4px);

		&_label {
			color: #CCC;
			display: block;
			font-size: 13px;
			line-height: 16px;
			font-family: $font-family-base;
		}

		&_input {
			margin: 0;
			width: 100%;
			border: none;
			outline: none;
			height: 40px;
			color: #414850;
			background: #fff;
			font-size: 24px;
			line-height: 26px;
			padding: 2px 0 12px 0;
			display: block;
			vertical-align: middle;
			font-family: $font-family-head;
			@include placeholder(#414850);

			&::-ms-clear {
				display: none;
				width: 0;
				height: 0;
			}

			&:focus,
			&:active {
				outline: none;
				@include placeholder(transparent);
			}
		}
	}

	&__button {

	}

	&__info {
		padding-top: 20px;

		&_item {
			margin-bottom: 20px;
			color: #414850;
			font-weight: 300;
			font-size: 18px;
			line-height: 140%;
			padding-left: 40px;
			position: relative;

			&:before {
				top: 1px;
				left: 0;
				content: '';
				width: 25px;
				height: 25px;
				font-size: 0;
				line-height: 0;
				position: absolute;
				display: inline-block;
				background: url("../images/icon__check_gray.svg") 0 0 no-repeat;
				background-size: 100%;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.btn_main {
		width: 100%;
	}

	@media (min-width: $screen-md-min) {
		width: 717px;
		height: 326px;
		margin: 0 auto;
		background: none;
		max-width: inherit;
		padding: 56px 53px 30px 56px;
		@include box-shadow(none);

		&:before {
			z-index: 1;
			top: -58px;
			left: -74px;
			content: '';
			width: 865px;
			height: 474px;
			display: block;
			position: absolute;
			background: url("../images/update__form_bg.svg") 50% 50% no-repeat;
		}

		&__wrap {
			max-width: inherit;
		}

		&__heading {
			font-size: 25px;
			text-align: left;
			line-height: 110%;

			> span {

				&:before {
					bottom: 3px;
					background: transparent;
					border-bottom: 2px dashed #E34F4F;
				}
			}
		}

		&__subtitle {
			margin-bottom: 45px;
		}

		&__row {
			@include flexbox();
			@include align-items(center);
		}

		&__button {
			@include flex-shrink(0);
		}

		&__form {
			border: none;
			margin-bottom: 0;
			padding-right: 40px;
			@include flex-grow(1);

			&_input {
				margin: 0;
				border-bottom: 1px solid #D3D3D3;
			}
		}

		&__info {
			max-width: 500px;
			@include flexbox();
			@include justify-content(space-between);

			&_item {
				margin: 0;
			}
		}

		.btn_main {
			width: 288px;
		}
	}

	@media (min-width: $screen-lg-min) {
	}

	@media (min-width: $screen-lg-min) {
	}
}

.progress {
	width: 300px;
	position: relative;
	padding-top: 40px;
	margin: 0 auto 40px auto;

	&__item {
		margin-bottom: 20px;
		position: relative;

		&_link {
			font-size: 16px;
			font-weight: 500;
			line-height: 20px;
			font-family: $font-family-head;


			a {
				color: #E34F4F;
				display: inline-block;
				text-decoration: underline;

				&:hover {
					color: #E34F4F;
					text-decoration: none;
				}
			}
		}

		&_mobile {
			display: block;
		}

		&_desktop {
			display: none;
		}

		&_first {
			float: right;
			width: 200px;

			.progress__item_link {
				padding-left: 100px;
			}
		}

		&_second {
			float: left;
			width: 250px;

			.progress__item_link {
				padding-left: 62px;
			}
		}
	}

	@media (min-width: $screen_sm-min) {
		width: 550px;
	}


	@media (min-width: $screen-md-min) {
		width: 100%;
		max-width: 1014px;
		padding-top: 110px;
		margin-bottom: 100px;
		@include flexbox();
		@include justify-content(space-between);

		&__item {
			margin-bottom: 0;

			&_mobile {
				display: none;
			}

			&_desktop {
				display: block;
			}

			&_first {
				width: 390px;

				.progress__item_link {
					padding-left: 225px;
				}
			}

			&_second {
				width: 300px;

				.progress__item_link {
					padding-left: 145px;
				}
			}
		}
	}


	@media (min-width: $screen-lg-min) {
		padding-top: 140px;

		&__item {

			&_first {
				width: 450px;
			}

			&_second {
				width: 345px;
				padding-bottom: 12px;
			}
		}
	}

	@media (min-width: $screen-xl-min) {
		padding-top: 160px;
		margin-bottom: 120px;

		&__item {

			&_first {
				left: -40px;
			}

			&_first {
				width: 390px;

				.progress__item_link {
					padding-left: 240px;
				}
			}

			&_second {
				width: 300px;

				.progress__item_link {
					padding-left: 160px;
				}
			}

		}
	}
}

.warranty {
	max-width: 300px;
	margin: 0 auto;
	padding-bottom: 100px;

	&__logo {
		color: #444;
		font-size: 34px;
		font-weight: 700;
		line-height: 36px;
		margin-bottom: 20px;
		@include flexbox();
		@include align-items(center);
		@include justify-content(flex-start);

		&_icon {
			width: 80px;
			height: 80px;
			font-size: 0;
			line-height: 0;
			background: #fff;
			position: relative;
			display: inline-block;
			@include flex-shrink(0);
			@include border-radius(50%);
			@include box-shadow(4px 4px 25px rgba(0, 0, 0, 0.25));

			i {
				top: 50%;
				left: 50%;
				width: 44px;
				position: absolute;
				display: inline-block;
				margin: -22px 0 0 -22px;
			}
		}


		&_text {
			padding-left: 25px;
			display: inline-block;
			font-family: $font-family-head;
		}
	}

	&__content {
		font-size: 20px;
		line-height: 150%;
		font-family: $font-family-base;
	}

	@media (min-width: $screen-md-min) {
		max-width: 500px;

	}

	@media (min-width: $screen-lg-min) {
		max-width: 1120px;
		margin: 0 auto;
		padding-bottom: 140px;
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);

		&__logo {
			margin: 0 0 0 50px;
			font-size: 40px;
			line-height: 41px;
			@include justify-content(flex-start);
		}

		&__content {
			margin: 0;
			width: 476px;
			font-size: 20px;
			text-align: left;
			max-width: inherit;
		}
	}

	@media (min-width: $screen-xl-min) {

		&__logo {
			font-size: 51px;
			line-height: 51px;
			margin: 0 0 0 20px;

			&_icon {
				width: 100px;
				height: 100px;

				i {
					width: 60px;
					margin: -30px 0 0 -30px;
				}
			}
		}
	}
}

.service {
	color: #444;
	max-width: 300px;
	margin: 0 auto;
	font-family: $font-family-base;

	&__title {
		font-size: 34px;
		font-weight: 700;
		line-height: 1.21;
		margin-bottom: 10px;
		font-family: $font-family-head;
	}

	&__text {
		font-size: 20px;
		line-height: 1.5;
		margin-bottom: 35px;
	}

	&__link {
		color: #E34F4F;
		font-size: 20px;
		font-weight: 700;
		line-height: 22px;
		white-space: nowrap;
		text-decoration: none;
		display: inline-block;
		padding-right: 30px;
		padding-bottom: 4px;
		font-family: $font-family-head;
		background: url("../images/update__icon_arrow_right.svg") 100% 50% no-repeat;

		span {
			border-bottom: 2px dashed #E34F4F;
		}

		&:hover {
			color: #E34F4F;
			text-decoration: none;

			span {
				border-bottom-color: transparent;
			}
		}
	}

	&__nav {
		display: none;
		padding: 40px 0 0 0;
		font-size: 16px;
		line-height: 20px;
		margin: 0 auto;
		max-width: 330px;
		list-style: none;
		text-align: left;

		> li {
			margin-bottom: 10px;

			a {
				color: #000;
				text-decoration: none;
				border-bottom: 1px dashed #BFC1CD;

				&:hover {
					color: #000;
					text-decoration: none;
					border-bottom-color: transparent;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {
		max-width: 500px;
		text-align: center;

		&__title {
			text-align: center;
		}
	}

	@media (min-width: $screen-lg-min) {
		max-width: 660px;
		margin-bottom: 70px;

		&__title {
			font-size: 51px;
			line-height: 62px;
		}

		&__text {
			font-size: 20px;
		}

		&__link {
			font-size: 27px;
			line-height: 33px;
		}

		&__nav {
			font-size: 18px;
			line-height: 24px;

			> li {
				margin-bottom: 15px;
			}
		}
	}
}

.play {
	color: #000;
	display: none;
	margin-bottom: -128px;
	font-family: $font-family-head;

	&__content {
		text-align: center;
		margin-bottom: 30px;

		&_title {
			font-size: 30px;
			font-weight: 500;
			line-height: 32px;
			padding-bottom: 6px;
		}

		&_text {
			font-size: 20px;
			font-weight: 500;
			line-height: 24px;
			padding-top: 5px;
			display: inline-block;
			border-top: 2px solid #BFC1CD;
		}
	}

	&__button {
		left: 10px;
		margin: 0 auto;
		width: 216px;
		font-size: 0;
		line-height: 0;
		display: block;
		position: relative;

		&:before {
			top: 50%;
			left: -30px;
			content: '';
			width: 71px;
			height: 102px;
			margin-top: -51px;
			position: absolute;
			display: inline-block;
			background: url("../images/update__play_button.svg") 50% 50% no-repeat;
			@include transition(.3s);
		}

		&:hover {

			&:before {
				left: -10px;
				@include transition(.3s);
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		width: 216px;
		display: block;
		position: relative;
		margin-left: auto;
		margin-right: auto;

		&__content {
			top: 80px;
			right: 190px;
			text-align: left;
			padding-right: 75px;
			white-space: nowrap;
			position: absolute;
		}
	}

	@media (min-width: $screen-xl-min) {

		&__content {

			&_title {
				font-size: 30px;
				line-height: 36px;
			}

			&_text {
				font-size: 24px;
				font-weight: 500;
			}
		}
	}
}
