
.btn_main {
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	font-weight: 700;
	font-size: 18px;
	line-height: 20px;
	padding: 20px 40px;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	background: #E34F4F;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	text-transform: uppercase;
	font-family: $font-family-head;
	box-shadow: 0px 0.788195px 0.788195px rgba(227, 79, 79, 0.05),
				0px 1.57639px 1.57639px rgba(227, 79, 79, 0.05),
				0px 3.15278px 3.15278px rgba(227, 79, 79, 0.05),
				0px 6.30556px 6.30556px rgba(227, 79, 79, 0.05),
				0px 12.6111px 12.6111px rgba(227, 79, 79, 0.05),
				0px 25.2222px 25.2222px rgba(227, 79, 79, 0.05);
	@include border-radius(5px);
	@include transition(.3s);

	&:hover {
		color: #fff;
		background: #e32519;
		@include transition(.3s);
	}

	&:active {
		background: #E34F4F;
	}

	&:focus,
	&.focus {
		outline: 0;
	}

	@media (min-width: $screen-md-min) {
		font-size: 20px;
		@include border-radius(30px);
	}
}

.btn_main_lg {


	@media (min-width: $screen-md-min) {
		padding: 20px 60px;
	}

	@media (min-width: $screen-lg-min) {
		font-size: 22px;
		line-height: 30px;
		padding: 22px 90px;
		@include border-radius(37px);
	}
}

.btn_pulse {
	box-shadow: 0 0 20px rgb(255, 255, 255);
	animation:myfirst 1s linear 0s infinite  alternate;
	-webkit-animation:myfirst 1s linear 0s infinite  alternate;
}

@keyframes myfirst
{
	0% {box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);}
	50% {box-shadow: 0 0 20px rgb(255, 255, 255);}
	100% {box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);}
}

@-webkit-keyframes myfirst
{
	0% {box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);}
	50% {box-shadow: 0 0 20px rgb(255, 255, 255);}
	100% {box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);}
}