.main_checkbox {
	font-size: 0;
	line-height: 0;
	font-weight: 400;
	position: relative;
	display: inline-block;

	input {
		top: 0;
		left: 0;
		padding: 0;
		width: 1px;
		opacity: 0;
		z-index: -1;
		height: 1px;
		display: block;
		position: absolute;
		visibility: hidden;
	}

	span {
		color: #969696;
		font-size: 18px;
		line-height: 24px;
		position: relative;
		display: inline-block;
		padding: 0 0 0 37px;

		&:before {
			top: 0;
			left: 0;
			z-index: 1;
			content: '';
			width: 24px;
			height: 24px;
			position: absolute;
			display: inline-block;
			border: 1px solid #DFDFDF;
			@include border-radius(2px);
		}

		&:after {
			top: 0;
			left: 0;
			opacity: 0;
			z-index: 2;
			content: '';
			width: 24px;
			height: 24px;
			visibility: hidden;
			position: absolute;
			display: inline-block;
			background: url("../images/update__icon_check.svg") 50% 50% no-repeat;
		}


		a {
			color: #969696;
			text-decoration: none;
			border-bottom: 1px dotted #969696;

			&:hover {
				color: #969696;
				text-decoration: none;
				border-bottom-color: transparent;
			}
		}
	}

	input:checked + span {

		&:after {
			opacity: 1;
			visibility: visible;
		}
	}
}

.form_checkbox {
	font-size: 0;
	line-height: 0;
	font-weight: 400;
	position: relative;
	display: inline-block;

	input {
		top: 0;
		left: 0;
		padding: 0;
		width: 1px;
		opacity: 0;
		z-index: -1;
		height: 1px;
		display: block;
		position: absolute;
		visibility: hidden;
	}

	span {
		color: #969696;
		cursor: pointer;
		font-size: 11px;
		line-height: 16px;
		position: relative;
		display: inline-block;
		padding: 0 0 0 30px;

		&:before {
			top: 0;
			left: 0;
			z-index: 1;
			content: '';
			width: 20px;
			height: 16px;
			background: #fff;
			position: absolute;
			display: inline-block;
			border: 1px solid #DFDFDF;
			@include border-radius(2px);
		}

		&:after {
			top: 0;
			left: 0;
			opacity: 0;
			z-index: 2;
			content: '';
			width: 20px;
			height: 16px;
			visibility: hidden;
			position: absolute;
			display: inline-block;
			background: url("../images/update__check_small.svg") 50% 50% no-repeat;
		}


		a {
			color: #969696;
			text-decoration: none;
			border-bottom: 1px dotted #969696;

			&:hover {
				color: #969696;
				text-decoration: none;
				border-bottom-color: transparent;
			}
		}
	}

	input:checked + span {

		&:after {
			opacity: 1;
			visibility: visible;
		}
	}
}

.form_phone {
	position: relative;

	&__button {
		color: #fff;
		width: 100%;
		border: none;
		outline: none;
		cursor: pointer;
		font-size: 14px;
		font-weight: 700;
		line-height: 20px;
		user-select: none;
		padding: 15px 15px;
		position: relative;
		text-align: center;
		white-space: nowrap;
		background: #E34F4F;
		text-decoration: none;
		display: inline-block;
		vertical-align: middle;
		text-transform: uppercase;
		@include border-radius(3px);
		@include transition(.3s);
		@include flex-shrink(0);


		&:hover {
			color: #fff;
			background: #e32519;
			@include transition(.3s);
		}

		&:active {
			background: #E34F4F;
		}

		&:focus,
		&.focus {
			outline: 0;
		}
	}

	&__input {
		width: 100%;
		border: none;
		outline: none;
		height: 50px;
		color: #ABA7A7;
		display: block;
		font-size: 14px;
		line-height: 20px;
		margin: 0 0 20px 0;
		vertical-align: middle;
		padding: 15px 20px 15px 45px;
		background: #fff url("../images/update__icon_phone.svg") 18px 50% no-repeat;
		@include placeholder(#ABA7A7);
		@include flex-grow(1);

		&::-ms-clear {
			display: none;
			width: 0;
			height: 0;
		}

		&:focus,
		&:active {
			outline: none;
			@include placeholder(transparent);
		}
	}

	@media (min-width: $screen-md-min) {
		padding: 8px;
		background: #fff;
		position: relative;
		@include border-radius(3px);
		@include flexbox();
		@include align-items(center);
		@include box-shadow(0px 0px 20px 0px rgba(0, 0, 0, 0.13));


		&__button {
			width: auto;
			padding: 12px 30px;
			text-transform: uppercase;
		}

		&__input {
			margin: 0;
			width: 100%;
			border: none;
			outline: none;
			//height: 40px;
			color: #ABA7A7;
			background: #fff url("../images/update__icon_phone.svg") 18px 50% no-repeat;
			font-size: 14px;
			line-height: 20px;
			padding: 12px 20px 12px 45px;
			display: block;
			vertical-align: middle;
			@include placeholder(#ABA7A7);
			@include flex-grow(1);

			&::-ms-clear {
				display: none;
				width: 0;
				height: 0;
			}

			&:focus,
			&:active {
				outline: none;
				@include placeholder(transparent);
			}
		}
	}
}